<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us" >
<head>

	<title>CubesViewer Embedded View Example</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="robots" content="NONE,NOARCHIVE" />

	<link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/print.css" type="text/css" media="print">
	<!--[if lt IE 8]> <link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/ie.css" type="text/css" media="screen, projection"> <!¡[endif]-->

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/cvapp.css" />


	<!-- CubesViewer CSS resources -->
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}js/jqueryui/jquery-ui.min.css" />
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/jqgrid/ui.jqgrid.css" media="screen" />
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}js/qtip/jquery.qtip.css"  />
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}js/wiky/wiky.math.css" />
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}js/nvd3/nv.d3.min.css" />

	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/cubesviewer/cubesviewer.css" />

	<!-- CubesViewer JS dependencies -->

	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.cookie.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jqueryui/jquery-ui.min.js"></script>

	<script type="text/javascript" src="{{ STATIC_URL }}js/dateformat/dateformat.js"></script>

	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.blockUI.js"></script>

	<script type="text/javascript" src="{{ STATIC_URL }}js/wiky/wiky.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/wiky/wiky.math.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/flotr2/flotr2.min.js"></script>

	<script type="text/javascript" src="{{ STATIC_URL }}js/d3js/d3.v3.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/nvd3/nv.d3.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/qtip/jquery.qtip.js"></script>

	<script type="text/javascript" src="{{ STATIC_URL }}js/jqgrid/i18n/grid.locale-en.js" ></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jqgrid/migrate-jquery-browser.js" ></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jqgrid/jquery.jqGrid.min.js" ></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jqgrid/jquery.jqGrid.columnChooser.js" ></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jqgrid/jquery.jqGrid.setColWidth.js" ></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jqgrid/jquery.jqGrid.autoWidthColumns.js" ></script>

	<script type="text/javascript" src="{{ STATIC_URL }}js/cubes/cubes.js"></script>

	<!-- Cubesviewer modules -->

	<script type="text/javascript" src="{{ STATIC_URL }}js/cubesviewer/cubesviewer.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/cubesviewer/cubesviewer.cache.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/cubesviewer/cubesviewer.views.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/cubesviewer/cubesviewer.views.cube.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/cubesviewer/cubesviewer.views.cube.explore.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/cubesviewer/cubesviewer.views.cube.datefilter.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/cubesviewer/cubesviewer.views.cube.rangefilter.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/cubesviewer/cubesviewer.views.cube.series.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/cubesviewer/cubesviewer.views.cube.chart.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/cubesviewer/cubesviewer.views.cube.facts.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/cubesviewer/cubesviewer.views.cube.dimensionfilter.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/cubesviewer/cubesviewer.views.cube.columns.js"></script>


<script type="text/javascript">

	// Reference to the created view
	var view1 = null;

	// Initialize CubesViewer when document is ready
	$(document).ready(function() {
		// Get user Cubes information for the example
		// Initialize CubesViewer system
		cubesviewer.init({
			cubesUrl: "{{ cubesviewer_backend_url }}/cubes"
		});
		var viewConfig = {{ view_config | safe }};
		view1 = cubesviewer.views.createView("olapview1", $('#cv-view1'), "cube", viewConfig);
		// Start Cubesviewer system
		cubesviewer.refresh();
	});

</script>


<style type="text/css">
.olapview {
	min-width: 400px;
}
</style>


</head>

<body id="">
<div id="body">
<div style="border: none; margin-top: 22px; margin-bottom: 22px;">
	<div id="cv-view1" class="olapview">The view should appear here...</div>
</div>
</div>
</body>

</html>
